<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>MY APP</title>
</head>
<body>
        <section>
                    <ul>
                        <% for(var i=0; i<posts.length; i++) {%>
                            <li>
                                <h3>
                                    <%= posts[i].title %>
                                </h3>
                                <p>
                                    <span><%= posts[i].text %></span>
                                </p>
                                
                            </li>
                            <% } %>
                    </ul>
            </section>
</body>
</html>
